
html {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;

  font-size: 14pt;
}

* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

#header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 1.8em;

  background: #e8e8e8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e8e8e8'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e8e8e8)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #ffffff:  #e8e8e8); /* for firefox 3.6+ */
  z-index: 2;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1.8em;

  overflow: hidden;

  font-size: 8pt;

  background: #e8e8e8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8', endColorstr='#ffffff'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#ffffff)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #e8e8e8:  #ffffff); /* for firefox 3.6+ */
}

.small {
  font-size: 8pt;
}

.chrome {
  font-family: Arial, sans-serif;
}

.chrome ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.chrome ul.left {
  float: left;
}

.chrome ul.left li {
  float: left;
}

#header ul.left li {
  border-bottom: 2px solid #c3d1ec;
}

#footer ul.left li {
  border-top: 2px solid #67a475;
}

.chrome ul.right {
  float: right;
}

.chrome ul.right li {
  float: left;
}

#header ul.right li {
  border-bottom: 2px solid #67a475;
}

#footer ul.right li {
  border-top: 2px solid #c3d1ec;
}

.chrome ul.middle {
  overflow: hidden;
  text-align: center;
}

.chrome ul.middle li {
  margin-right: auto;
  margin-left: auto;
  z-index: -1;
}

.chrome li {
  position: relative;

  list-style: none;
  display:block;

  height: 1.8em;
  border: 1px solid white;

  padding-top: 0.20em;
  padding-left: 1em;
  padding-right: 1em;


  text-align: center;
  vertical-align: middle;
}

.chrome li:hover {
  background: #dddddd;
}

.chrome li.title {
  padding-top: 0;
  font-size: 18pt;
  font-weight: bold;
}

.chrome ul li ul {
  display: none;

  border: 0;
  padding: 0;
  margin: 0;

  position: absolute;
  left: 0;
  top: 1.7em;
  float: none;
}

.chrome ul li ul li {
  border: 0;
  width: 100%;
  background: white;
  white-space: nowrap;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.chrome ul a {
  display: block;
  width: 100%;
  height: 100%;
}

.chrome ul li:hover ul {
  display: block;
}

.chrome ul li:active ul {
  display: block;
}

.chrome ul li ul:hover {
  display: block;
}

#header .left .current {
  font-weight: bold;
  border-bottom: 2px solid #36C;
}

#body {
  width: 100%;
  height: 100%;
  overflow: auto;

  padding-top: 1.7em;
  padding-bottom: 1.7em;
}

#body table {
  width: 100%;
}

table.bench {
  height: 150px;
  width: 100%;
  border: 1px solid black;
}

.button {
  width: 150px;
  height: 150px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;

  border: 1px solid black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;

}

td.category {
  width: 150px;
}

td.selected {
  border-left: 1px solid black; 
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

td.notselected {
  border-right: 1px solid black;
  background: #eeeeee;
}

td.element {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

div.icon {
  width: 150px;
  text-align: center;

  font-size: 12pt;
}

div.icon img {
  width: 128px;
  height: 128px;
  margin-left: 11px;
  margin-right: 11px;
}
