[submodule "third_party/jquery-mobile"]
	path = third_party/jquery-mobile
	url = https://github.com/jquery/jquery-mobile.git
[submodule "third_party/jquery"]
	path = third_party/jquery
	url = https://github.com/jquery/jquery.git
