{% extends "base.html" %}
{% block body %}

  <style>
td div {
  margin-left: auto;
  margin-right: auto;
}

img.down {
  width: 64px;
  height: 64px;
}

  </style>
  <div style="text-align: center;" onClick="window.location.href='/{{ game.url }}/play';">


  <h1>
  {% if new_usercombination %}
  <b>New</b>
  {% endif %}
  {% if usercombination.reference.name %}
  {{usercombination.reference.name}} found!
  {% else %}
  Combination found!
  {% endif %}
  </h1>
  {% if usercombination.reference.description %}
  <p>{{usercombination.reference.description}}</p>
  {% endif %}

  <hr>

  <table>
    <tr>
    {% for element in usercombination.reference.input %}
      <td>
      {{ element|icon }}
      </td>
    {% endfor %}
    </tr>
  </table>

  <img class="down" src="/images/down.png" alt="converts to">

  <table>
    <tr>
    {% for element in usercombination.reference.output %}
      <td>
      {{ element|icon }}
      </td>
    {% endfor %}
    </tr>
  </table>

  <hr>

  <table>
    <tr>
        <td>

  {% if new_userelements %}
  <h1>New Elements found</h1>
  <table>
    <tr>
    {% for userelement in new_userelements %}
      <td>
      {{ userelement|icon }}
      </td>
    {% endfor %}
    </tr>
  </table>
  {% else %}
  <h1>No new elements found.</h1>
  {% endif %}

      </td>
      <td>

  {% if new_usercategories %}
  <h1>New Categories found</h1>
  <table>
    <tr>
    {% for usercategory in new_usercategories %}
      <td>
      {{ usercategory|icon }}
      </td>
    {% endfor %}
    </tr>
  </table>
  {% else %}
  <h1>No new categories found.</h1>
  {% endif %}

      </td>
    </tr>
  </table>

   </div>
{% endblock %}
