{% extends "base.html" %}
{% block body %}

  <style>
td div {
  margin-left: auto;
  margin-right: auto;
}

img.down {
  width: 64px;
  height: 64px;
}

  </style>
  <div style="text-align: center;" onClick="window.location.href='/{{ game.url }}/play';">


  {% if combination.name %}
  <h1>{{combination.name}} found!</h1>
  {% else %}
  <h1>Combination found!</h1>
  {% endif %}
  {% if combination.description %}
  <p>{{combination.description}}</p>
  {% endif %}

  <hr>

  <table>
    <tr>
    {% for element in combination.input %}
      <td>
      {{ element|icon }}
      </td>
    {% endfor %}
    </tr>
  </table>

  <img class="down" src="/images/down.png" alt="converts to">

  <table>
    <tr>
    {% for element in combination.output %}
      <td>
      {{ element|icon }}
      </td>
    {% endfor %}
    </tr>
  </table>

  <hr>

  <table>
    <tr>
        <td>
    
  {% if new_elements %}
  <h1>New Elements found</h1>
  <table>
    <tr>
    {% for element in new_elements %}
      <td>
      {{ element|icon }}
      </td>
    {% endfor %}
    </tr>
  </table>
  {% else %}
  <h1>No new elements found.</h1>
  {% endif %}

      </td>
      <td>

  {% if new_categories %}
  <h1>New Categories found</h1>
  <table>
    <tr>
    {% for category in new_categories %}
      <td>
      {{ category|icon }}
      </td>
    {% endfor %}
    </tr>
  </table>
  {% else %}
  <h1>No new categories found.</h1>
  {% endif %}

      </td>
    </tr>
  </table>

   </div>
{% endblock %}
