{% extends "base.html" %}
{% block body %}

  <h1>Combination found!</h1>
  <p>
    {% for element in combination.input %}
      {{ element.name }}
    {% endfor %}
<pre>
  ||
  \/
</pre>
    {% for element in combination.output %}
      {{ element.name }}
    {% endfor %}
  </p>

  {% if combination.name %}
  <h2>{{combination.name}}</h2>
  {% endif %}
  {% if combination.description %}
  <p>{{combination.description}}</p>
  {% endif %}

  {% if new_elements %}
  <h1>New Elements found</h1>
  <p>
    {% for element in new_elements %}
      <h2>{{ element.name }}</h2>
    {% endfor %}
  </p>
  {% else %}
  <h1>No new elements found.</h1>
  {% endif %}

  {% if new_categories %}
  <h1>New Categories found</h1>
  <p>
    {% for category in new_categories %}
      <h2>{{ category.name }}</h2>
    {% endfor %}
  </p>
  {% else %}
  <h1>No new categories found.</h1>
  {% endif %}

{% endblock %}
