{% extends "base.html" %}
{% block body %}

    <a href="/{{ game.url }}/combos/list#">&lt; Back</a>
    <form id="edit" action="" method="post">

      <table>

        <tr>
          <td>Name:</td>
          <td><input type="text" name="name" value="{{ object.name }}"></td>
        </tr><tr>
          <td>Description:</td>
          <td><textarea name="description">{{ object.description }}</textarea></td>


        <tr>
          <td colspan=2>
            Input Elements
          </td>
        </tr>
        <tr>
          <td colspan=2>
{{ input_bench }}
          </td>
        </tr>

        <tr>
          <td colspan=2>
            Output Elements
          </td>
        </tr>
        <tr>
          <td colspan=2>
{{ output_bench }}
          </td>
        </tr>
        <tr>
          <td><input type="submit" name="action" value="Save"></td>
          <td><a href="/game/delete?key={{object|key}}#">Delete</a></td>
        </tr>


      </table>

    </form>

{% endblock %}
