{% extends "base.html" %}
{% block body %}
    <a href="/#">&lt; Back</a>
    <form method="POST" action="/games/edit#">
      <input name="key" type="hidden" value="{{ object|key }}">
      <table>
        <tr>
          <td>Owner:</td>
          <td colspan=2>{{ object.owner.nick }} &lt;{{ object.owner.email }}&gt;</td>
        </tr><tr>
          <td>URL:</td>
          <td colspan=2><input type="text" name="url" value="{{ object.url }}"></td>
        </tr><tr>
          <td>Name:</td>
          <td colspan=2><input type="text" name="name" value="{{ object.name }}"></td>
        </tr><tr>
          <td>Description:</td>
          <td colspan=2><textarea name="description">{{ object.description }}</textarea></td>
        </tr><tr>
          <td colspan=3><i>(Numbers update on save - used for victory condition.)</i></td>
        </tr><tr>
          <td><a href="/{{ object.url }}/categories/list#">Categories</a> {{ object.category_count }}</td>
          <td><a href="/{{ object.url }}/elements/list#">Elements</a> {{ object.element_count }}</td>
          <td><a href="/{{ object.url }}/combos/list#">Combinations</a> {{ object.combo_count }}</td>
        </tr><tr>
          <td>Starting<br>Categories:</td>
          <td colspan=2>
            <select name="starting_categories" multiple>
            {% for category in categories %}
              <option value="{{ category|key }}" 
{% for selected in object.starting_categories %}
{% ifequal category|key selected %}
   selected
{% endifequal %}
{% endfor %}
                      src="{{ category.icon }}">{{ category.name }}</option>
            {% endfor %}
            </select>
          </td>
        </tr><tr>
          <td>Starting<br>Elements:</td>
          <td colspan=2>
            <select name="starting_elements" multiple>
            {% for element in elements %}
              <option value="{{ element|key }}" 
{% for selected in object.starting_elements %}
{% ifequal element|key selected %}
   selected
{% endifequal %}
{% endfor %}
                      src="{{ element.icon }}">{{ element.name }}</option>
            {% endfor %}
            </select>
          </td>
        </tr><tr>
          <td>Icon:</td>
          <td colspan=2><input type="text" name="icon" value="{{ object.icon }}" 
            onchange="document.getElementById('icon-preview').src = this.value;"></td>
        </tr><tr>
          <td colspan="3"><img id="icon-preview" src="{{ object.icon }}" height="256" width="256"></td>
        </tr><tr>
          <td><input type="submit" value="Save"></td>
          <td><a href="/games/delete?key={{object|key}}#">Delete</a></td>
        </tr>
      </table>
    </form>
{% endblock %}
