{% extends "base.html" %}
{% block body %}
      <table>
        <tr>
          <th>Name</th><th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a href="/game/edit#">New</a></td>
        </tr>
        {% for game in games %}
        <tr>
            <td><img src="{{ game.icon }}"></td>
            <td>{{ game.name }} </td>
            <td><a href="/{{ game.url }}/edit?key={{ game.key }}#">Edit</a></td>
            <td><a href="/{{ game.url }}/play#">Play</a></td>
        </tr>
        {% endfor %}
      </table>
{% endblock %}
