{% extends "base.html" %}
{% block body %}
      <table>
        <tr>
          <th>Name</th><th></th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a href="/game/edit#">New</a></td>
        </tr>
        {% for game in games %}
        <tr>
            <td>{{ game|icon }}</td>
            <td>{{ game.name|fancy }} </td>
            <td>{% if game|is_admin:user %}<a href="/{{ game.url }}/edit?key={{ game.key }}#">Edit</a>{% endif %}</td>
            <td><a href="/{{ game.url }}/play#">Play</a></td>
        </tr>
        {% endfor %}
      </table>
{% endblock %}
