{% extends "base.html" %}
{% block body %}
    <a href="/{{ game.url }}/abandon#">Restart Game</a>

<script language="JavaScript" type="text/javascript">
<!--
function changeCategory( key )
{
  document.forms['scratch'].selected_category.value = key;
  document.forms['scratch'].submit() ;
}

function addElement( key )
{
  document.forms['scratch'].toadd.value = key;
  document.forms['scratch'].submit() ;
}

function removeElement( key )
{
  document.forms['scratch'].toremove.value = key;
  document.forms['scratch'].submit() ;
}
-->
</script>

<form id="scratch" action="/{{ game.url }}/play#" method="post">
    <input type="hidden" name="selected_category" value="{{ selected_category|key }}">
    <input type="hidden" name="toadd" value="">
    <input type="hidden" name="toremove" value="">
    <table>
      <tr style="border: 1px solid red;">
        {% for userelement in tocombined %}
        <td>
          <div>
            <input type="hidden" name="tocombined" value="{{ userelement|key }}">
            <a href="#" onClick="removeElement( '{{ forloop.counter0 }}')">
              <img src="{{ userelement.reference.icon }}">
              {{ userelement.reference.name }}
            </a>
          </div>
        </td>
        {% endfor %}
      </tr>

      {% for usercategory in categories %}
      <tr>
        <td>
          <a href="#" onClick="changeCategory(
            '{{ usercategory.reference|key }}')">
            <img src="{{ usercategory.reference.icon }}"
                 alt="{{ usercategory.reference.description }}">
            {% ifequal usercategory.reference|key selected_category|key %}
              <b>{{ usercategory.reference.name }}</b>
            {% else %}
              {{ usercategory.reference.name }}
            {% endifequal %}
          </a>
        </td>
        {% ifequal forloop.counter0 0 %}
        <td rowspan="{{ categories|length }}">
          {% for userelement in elements %}
          <div>
            <a href="#" onClick="addElement('{{ userelement|key }}')">
              <img src="{{ userelement.reference.icon }}"
                   alt="{{ userelement.reference.description }}">
              {{ userelement.reference.name }}
            </a>
          </div>
          {% endfor %}
        </td>
        {% endifequal %}
      </tr>
      {% endfor %}
    </table>
  </form>

  <form id="actual" action="/{{ game.url }}/combine" method="post">
    <input type="submit" name="action" value="Combine">
    {% for userelement in tocombined %}
      <input type="hidden" name="tocombined" value="{{ userelement.reference|key }}">
    {% endfor %}
  </form>


  <form id="quickcreate" action="/{{ game.url }}/combo/edit" method="post">
    <input type="hidden" name="selected_category"
           value="{{ selected_category|key }}">
    {% for userelement in tocombined %}
      <input type="hidden" name="inputkeys" value="{{ userelement.reference|key }}">
    {% endfor %}
  </form>

{% endblock %}
{% block admin %}
   <li><a href="#" onClick="document.forms.quickcreate.submit()">Quick Create</a></li>
{% endblock %}
