{% extends "base.html" %}
{% block head %}

{% if jquery_cdn %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery{{ jquery_minimized }}.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui{{ jquery_minimized }}.js"></script>
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css">
{% else %}
    <script type="text/javascript" src="/third_party/jquery/jquery{{ jquery_minimized }}.js"></script>
    <script type="text/javascript" src="/third_party/jquery-mobile/jquery-mobile{{ jquery_minimized }}.js"></script>
    <link rel="stylesheet" href="/third_party/jquery-mobile/jquery-mobile{{ jquery_minimized }}.css" />
{% endif %}

<script type="text/javascript" src="/third_party/interface/interface{{ jquery_minimized }}.js"></script>

<style type="text/css" media="all">
.fisheye {
  position: absolute;
  bottom: 1em;
  width: 100%;
  height: 50px;
}

a.fisheye-item {
  text-align: center;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  width: 40px;
  position: absolute;
  display: block;
  bottom: 0;
}


.fisheye-item img {
  border: none;
  margin: 5px auto 0 auto;
  width: 100%;
}

.fisheye-item span {
  display: none;
  positon: absolute;
}

.fisheye-container {
  height: 50px;
  width: 200px;
  left: 500px;
  position: absolute;
}

a.atom {
  border: none;
  display: block;
  float: left;
}

</style>

{% endblock %}
{% block body %}

<table class="bench">
  <tr>
    <td class="bench-left">
      &nbsp;
    </td>

    <td class="bench-middle">
      <div id='bench-top'>
      </div>
    </td>

    <td class="bench-right">
      &nbsp;
    </td>

    <td class="category">
      <div class="button">
        <div>
          <a href="#" id='blend'>
            Combine!
          </a>
        </div>
      </div>
    </td>
  </tr>
</table>

<!-- The category list plus atoms go here -->
<div id='bench-drawer'>
  <div id='bench-atoms'></div>
  <div id='bench-categories' class='fisheye'>
    <div class='container fisheye-container'></div>
  </div>
</div>

<script src="/js/playjs-common.js"></script>
<script src="/js/playjs-desktop.js"></script>
<script src="/{{ game.url }}/start?output=json&callback=getData"></script>

{% endblock %}
{% block options %}
   <li><a href="/{{ game.url }}/abandon">Abandon Game</a></li>
{% endblock %}
