{% extends "base-mobile.html" %}
{% block body %}
<style>
  .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    position: relative;
    max-height: 80px;
    max-width: 80px;
  }
  .icon-text {
  }
</style>

<div data-role="page" id="home">


  <div data-role="header" data-position="inline" data-nobackbtn="true">
    <a rel="external" href="/" data-icon="back">Games</a>
    <h1>{{ game.name }}</h1>
    <a href="#options" data-icon="gear" class="ui-btn-right">Options</a>
  </div>

  <div data-role="content">

    <div id="bench-top" class="ui-grid-a">
      <div class="ui-block-a">
        <a href="index.html" data-role="button">
          <img src="/images/leaf.png" class="icon">
          <span class="icon-text">Link button</span>
        </a>
      </div>
    </div>

    <a href="javascript:blendItBaby();" id="blend" data-role="button" data-theme="b">
      Blend!
    </a>

    <ul id="categories" data-role="listview" data-inset="true">
    </ul>

  </div>
</div><!-- /page -->

<div data-role="page" id="result">
</div>

<script src="/js/playjs-common.js"></script>
<script src="/js/playjs-mobile.js"></script>
<script src="/{{ game.url }}/start?output=json&callback=getData"></script>
{% endblock %}
{% block options %}

<a rel=external href="/{{ game.url }}/abandon" data-role="button">Abandon</a>

{% endblock %}
